#lienzo{
	border: 4px solid;
	border-color: black;
	border-radius: 30px;
	background-image: url("../imagenes/fondo.jpg");

}

#player{
	visibility: hidden;
	display: none;
}
#bueno{
	visibility: hidden;
	display: none;
}
#malo{
	visibility: hidden;
	display: none;
}
